{% extends 'base.html' %}
% load_static %}
{% block body %}
<div class="container-fluid" style="display:flex;">
<div class="col-sm-12">
    <div class=row>
    <div class="col-sm-6">
Ledger:{{banks}}
    </div>
    <div class="col-sm-6" style="text-align:right;">
        1-Apr-2022

    </div>




</div>
<div class="row">
    <div class="col-sm-12" style="text-align:center;">
      <!-- <b>  (Bank not Configured for Cheque Printing)</b> -->
    </div>

</div>
<div class="table-responsive">
<table class="table table-responsive-md table-hover mt-4" id="table">
 <thead>   <tr>
    <th>Select</th>
        <th >
            No

        </th>
        <th >
            Date

        </th>
        <th>
            Particulars
        </th>
        <th>
            <!-- Insturment No:

        </th> -->
        <th>
            Transaction Type:

        </th>
       
        <th>
            Amount
            
        </th>
    </tr>

    {% for c in my_list %}
    <tr>
        <td>{{ c.no }}</td>
          <td>{{ c.date }}</td>
          <td>{{ c.particulrs }}</td>
          <td>{{ c.transactiontype }}</td>
        <td>{{ c.amount }}</td>
      </tr>
    {% endfor %}

    {% for r in rlist %}
    <tr>
        <td>{{ r.bank_names }}</td>
          <td>{{ r.date }}</td>
          <td>{{ r.particualrs }}</td>
          <td>{{ r.transactiontype }}</td>
        <td>{{ r.amount }}</td>
      </tr>
    {% endfor %}
    

</thead>
<tbody>
    <!-- <tr>
        <td>
            <input type="checkbox" id="bk" name="vehicle" onClick="checkbox();" value="100000">
        </td>
        <td>
            1-Apr-2022
        </td>
        <td>
           Cash
        </td>
        <td>
            
        </td>
        <td>
            1-Apr-2022
        </td>
        
        <td>
           100000.00 
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" id="bk" name="vehicle" onClick="checkbox();" value="100000">
        </td>
        <td>
            1-Apr-2022
        </td>
        <td>
           Cash
        </td>
        <td>
            
        </td>
        <td>
            1-Apr-2022
        </td>
        
        <td>
           100000.00 
        </td>
    </tr> -->
    <tr>
       
        <td class="total-column" colspan="5">
        Selected Total
        </td>
        <td>  <p style="color:white"  id="show" name="vehicle"></p><br></td>
    </tr>
    <tr>
        <td class="total-column" colspan="6" id="val">
        Total
        </td>
        <td></td>
    </tr>
</tbody>
</table>
</div>

</div>
</div>




 {% endblock %}